---
title: Le Wagon - Middleman
---

<div class="home-content">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://kitt.lewagon.com/placeholder/cities/berlin');">
      <div class="banner-content">
        <h1>Le Wagon Berlin</h1>
        <p>Learn to code with us in Berlin</p>
        <a class="btn btn-primary btn-lg">Start now</a>
      </div>
    </div>
    <div class="container">
      <div class="cards row">
        <% cities = %w(shanghai berlin shanghai berlin shanghai berlin shanghai berlin ).each do |city| %>
        <div class="col-sm-3">
          <div class="card col-sm-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/<%= city %>.jpg');">
              <div class="card-category"><%= city %></div>
              <div class="card-description">
                <h2>Some stuff</h2>
                <p>Very cool stuff, useful and smart</p>
              </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
